@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input:focus~label,
  input:not(:placeholder-shown)~label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus~label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-8
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover: bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }
}


/* common styles */

.bg-green {
  background-color: #d6efed !important;
}

.text-green {
  font-weight: bold;
  font-size: 30px;
  color: #007372;
}

.btn-success {
  background-color: #007372;
  font-size: 16px !important;
  text-align: center !important;
  padding: 5px !important;
  color: #fff !important;
  border-radius: 5px !important;
  border: none;
  width: 115px;
}

.section-name {
  line-height: 1.428;
  letter-spacing: .5px;
  padding: 20px 10px;
  font-size: 32px;
  color: #007372;
  font-weight: 700;
}

/* TopMenu section */
/* Packages section */
/* Donate section */
/* Campaigns section */
.campaign-item {}

/* media queries */

/* real-time section  */
.real-item {
  width: 25vw;
}
.real-text h4,
.real-text p {
  color: #007372;
  font-weight: 700;
}
/* media queries */
@media screen and (max-width: 1100px) {
  .real-item {
    width: 75vw;
  }
  
  .real-row{
    flex-direction: column;
    justify-content: center;
  }
}

/* aseel section */

/* media queries */

/* mobilea-apps section */
.text {
  font-family: poppins, arial, tahoma;
  font-weight: 400;
  margin: 10px 0;
}

/* media queries */
@media screen and (max-width: 639px) {
  .container-paiding {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .custom-grid{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}